canvas {
  margin: 0 auto;
  padding: 20;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000;
}

header {
  padding: 10px 100px;
  box-sizing: border-box;
}


section.sec2 {
  padding: 0px;
  box-sizing: border-box;
  height: auto;
}

section.sec2 h2 {
  font-size: 3em;
  margin: 0;
  padding: 0 0 20px;
  color: #fff;
}




nav {
  width: 20%;
  height: 50px;
  background: rgba(0,0,0, .8);
  border-top: 1px solid rgba(255,255,255, .2);
  border-bottom: 1px solid rgba(255,255,255, .2);
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0 0px;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px; /**  Rarely used! **/
}

nav ul li a:hover,
nav ul li a.active {
  background: #f00;
  
} 

